<html>
<body>

<p>Hi {{ first_name }},</p>

<p>I thought you'd like to know about Beam  - a new way for Ghanaians abroad to care for loved ones back home by paying directly for utility bills, phone airtime credit, gifts, school fees and much more.</p>

<p>Find out how: https://beamcrew.com</p>

</body>
</html>
