<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">

        <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container text-center">
            <h1>Beam API Server</h1>
            <p>Please go to <a href="https://beamcrew.com">beamcrew.com</a> for the real deal ;)</p>
            <p><a class="btn btn-primary" href="mailto:hello@beamcrew.com">Contact Us &raquo;</a></p>
          </div>
        </div>

        <hr>

        <div>
          <footer class="text-center">
            <p>&copy; Beam 2015</p>
          </footer>
        </div> <!-- /container -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="{{STATIC_URL}}js/vendor/bootstrap.min.js"></script>

        <script src="{{STATIC_URL}}js/plugins.js"></script>
        <script src="{{STATIC_URL}}js/main.js"></script>

    </body>
</html>
